
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Poppins', sans-serif; 
}
body{
    background-color: rgb(213, 248, 216);
}





.header3{
/* margin:0 4.5rem; */
/* padding:10px ; */
height: 5rem;
max-width: 100%;
min-width: 90%;
background-color: #223d16;
display: flex;
position: relative;
/* justify-content:space-around ; */



}
.container2{
max-width: 1000px;
margin: auto;
width: 90%;
}
.nav{
min-height: 8vh;
display: flex;
justify-content:space-between;
align-items: center;
}

.nav-items3{
width: 40%;
display: flex;
list-style-type:none;
justify-content: space-between;
}
li{
/* position: absolute; */
padding:0.8rem;
margin:.9rem 7rem 0rem 1.5rem;
display: flex;
justify-content:space-between ;
text-overflow: inherit;


}

a{
position:absolute;
text-decoration: none;
color: white;
text-align: center;
justify-content: space-between;
}



.container{
    
    height: 15rem;
    color: aliceblue;
    border: solid 1px white;
    /* background-color: rgb(217, 231, 241); */
    width:13rem;
    max-width: 90%;
    margin-top: 20%;
    margin-left: 25%;
 
   
   
  
}
.input{
    padding:0 1rem 1rem;
}
h2{
    
    padding: 0.5rem 4rem 1rem ;
    display: block;
    margin: auto;
    margin-top: .5rem;
    /* justify-content:space-around */
    /* color: rgb(50, 50, 51); */
   
}
.login-btn{
    padding: 0.5rem .8rem .2rem ;
    margin: 10px;
    margin-left: 4rem;
    cursor: pointer;
    border: none;
    background-color: #223d16;
    color: aliceblue;
    
     
   
    

}
:hover.login-btn{
    background-color: hsl(120, 6%, 87%);
    color: black;
   
}

.circle{
    display: flex;
    height: 30rem;
    width: 30rem;
    /* border-radius: 15rem; */
    border-bottom-left-radius: 12rem;
    border-top-right-radius:12rem ;
    /* background-color: rgb(147, 202, 170); */
    padding: 2rem;
    margin: 3rem;
    margin-left:35% ;
    background:url("./heading.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
   
   
   
}

